@import '@cssVariables';

.content {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  width: var(--max-width-xxl);
  margin: 0 auto;
}

.content__header {
  font-size: var(--font-size-l);
  align-self: center;
  margin-bottom: var(--space30);
}
