.content {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  width: 90em;
  margin: 0 auto;
}

.content__header {
  font-size: 1.3rem;
  align-self: center;
  margin-bottom: 30px;
}
