@import '@cssVariables';

.quakes__item {
  background: var(--light-grey);
  border: var(--space1) solid var(--dark-grey);
  grid-column: span 3;
  padding: var(--space10);
  letter-spacing: var(--lpp-6);
  line-height: var(--lh-130);
}
